@import url("./index.css");

html,
body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
  background-color: #fcfcfc;
}


input[type ="radio"]:checked {
  background-color: gold;
}